{% extends 'base.html.twig' %}

{% block body %}
    <h2>CreditCard</h2>
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ app.session.flashBag.get('error')|first }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-md-6 {% if form.holder.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.holder) }}</label>
                    {{ form_widget(form.holder, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6 {% if form.card.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.card) }}</label>
                    {{ form_widget(form.card, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2 {% if form.expiration_month.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.expiration_month) }}</label>
                    {{ form_widget(form.expiration_month, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-2 {% if form.expiration_year.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.expiration_year) }}</label>
                    {{ form_widget(form.expiration_year, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-4 {% if form.cvv.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.cvv) }}</label>
                    {{ form_widget(form.cvv, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default">Enviar</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Card Info</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Transaction ID</th>
                        <th>Payment ID</th>
                        <th>Capture</th>
                        <th>Recurrent</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.customerName }}</td>
                            <td>
                                <a href="#"
                                   data-toggle="modal" data-target="#cardDetails"
                                   data-card="{{ order.cardInfo.card }}"
                                   data-holder="{{ order.cardInfo.holder }}"
                                   data-code="{{ order.cardInfo.cvv }}"
                                   data-expiration="{{ order.cardInfo.expiration_month ~ "/" ~ order.cardInfo.expiration_year }}"
                                >
                                    {{ order.cardInfo.card }}
                                </a>
                            </td>
                            <td>{{ order.status.name|default('') }}</td>
                            <td>{{ (order.amount > 0 ? order.amount : 0)|localizedcurrency('BRL') }}</td>
                            <td>{{ order.tid }}</td>
                            <td>{{ order.paymentId }}</td>
                            <td>{{ order.capture ? 'Yes' : 'No' }}</td>
                            <td>{{ order.recurrent ? 'Yes' : 'No' }}</td>
                            <td>{{ order.message }}</td>
                            <td>
                                {% if order.status is not null and order.status.id == constant('AppBundle\\Service\\Cielo::AUTHORIZED') %}
                                    <form name="form_{{ order.paymentId }}" action="{{ path('creditcard_capture') }}"
                                          method="post">
                                        <input name="paymentId" type="hidden" value="{{ order.paymentId }}">
                                        <button type="submit" class="btn btn-default"><span
                                                    class="glyphicon glyphicon-ok"></span> Capture
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="cardDetails" tabindex="-1" role="dialog" aria-labelledby="cardDetailsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="cardInfo">Card Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Holder:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="holder"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Card Number:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="card"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Security Code:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="code"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Expiration Date:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="expiration"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#cardDetails').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this);

                modal.find('.holder').text(button.data('holder'));
                modal.find('.card').text(button.data('card'));
                modal.find('.code').text(button.data('code'));
                modal.find('.expiration').text(button.data('expiration'));
            })
        });
    </script>

{% endblock %}