{% extends 'base.html.twig' %}

{% block body %}
    <h2>Payment Slip</h2>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-md-6 {% if form.customerName.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.customerName) }}</label>
                    {{ form_widget(form.customerName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-6 {% if form.amount.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.amount) }}</label>
                    {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default">Enviar</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Payment ID</th>
                        <th>Bar Code Number</th>
                        <th>Amount</th>
                        <th>Expiration Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {# @var slip \AppBundle\Entity\PaymentSlip #}
                    {% for slip in slips %}
                        {% set order = slip.order %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.customerName }}</td>
                            <td>{{ slip.status.name|default('') }}</td>
                            <td>{{ slip.paymentId }}</td>
                            <td>{{ slip.barCodeNumber }}</td>
                            <td>{{ (slip.amount > 0 ? slip.amount/100 : 0)|localizedcurrency('BRL') }}</td>
                            <td>{{ slip.expirationDate|date('d/m/Y') }}</td>
                            <td><a class="btn btn-default" target="_blank" href="{{ slip.url }}"><span class="glyphicon glyphicon-search"></span>View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}