{% extends 'base.html.twig' %}

{% block body %}
    <h2>Recurrent Payment</h2>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-md-6 {% if form.holder.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.holder) }}</label>
                    {{ form_widget(form.holder, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6 {% if form.card.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.card) }}</label>
                    {{ form_widget(form.card, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2 {% if form.expiration_month.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.expiration_month) }}</label>
                    {{ form_widget(form.expiration_month, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-2 {% if form.expiration_year.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.expiration_year) }}</label>
                    {{ form_widget(form.expiration_year, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-2 {% if form.cvv.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.cvv) }}</label>
                    {{ form_widget(form.cvv, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-2 {% if form.authorize_now.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.authorize_now) }}</label>
                    {{ form_widget(form.authorize_now, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 {% if form.interval.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.interval) }}</label>
                    {{ form_widget(form.interval, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-4 {% if form.startDate.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.startDate) }}</label>
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_widget(form.startDate.day, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.startDate.month, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-5">
                            {{ form_widget(form.startDate.year, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4 {% if form.endDate.vars.errors|length %} has-error {% endif %}">
                    <label>{{ form_label(form.endDate) }}</label>
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_widget(form.endDate.day, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.endDate.month, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-5">
                            {{ form_widget(form.endDate.year, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default">Enviar</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Card Info</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Transaction ID</th>
                        <th>Payment ID</th>
                        <th>Capture</th>
                        <th>Recurrent</th>
                        <th>Next Recurrency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recurrency in recurrencies %}
                        {# @var order \AppBundle\Entity\MerchantOrder #}
                        {% set order = recurrency.order %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.customerName }}</td>
                            <td>
                                <a href="#"
                                   data-toggle="modal" data-target="#cardDetails"
                                   data-card="{{ order.cardInfo.card }}"
                                   data-holder="{{ order.cardInfo.holder }}"
                                   data-code="{{ order.cardInfo.cvv }}"
                                   data-expiration="{{ order.cardInfo.expiration_month ~ "/" ~ order.cardInfo.expiration_year }}"
                                   data-start="{{ order.cardInfo.startDate|date('d/m/Y')}}"
                                   data-end="{{ order.cardInfo.endDate|date('d/m/Y') }}"
                                   data-scheduled="{{ order.cardInfo.authorize_now}}"
                                   data-interval="{{ order.cardInfo.interval }}"
                                   data-next="{{ recurrency.nextRecurrency|date('d/m/Y') }}"
                                >
                                    {{ order.cardInfo.card }}
                                </a>
                            </td>
                            <td>{{ order.status.name|default('') }}</td>
                            <td>{{ (order.amount > 0 ? order.amount/100 : 0)|localizedcurrency('BRL') }}</td>
                            <td>{{ order.tid }}</td>
                            <td>{{ order.paymentId }}</td>
                            <td>{{ order.capture ? 'Yes' : 'No' }}</td>
                            <td>{{ order.recurrent ? 'Yes' : 'No' }}</td>
                            <td>{{ recurrency.nextRecurrency|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="cardDetails" tabindex="-1" role="dialog" aria-labelledby="cardDetailsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="cardInfo">Card Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Holder:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="holder"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Card Number:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="card"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Security Code:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="code"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Expiration Date:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="expiration"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Scheduled:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="scheduled"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Interval:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="interval"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Start Date:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="start"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>End Date:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="end"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Next Recurrency:</strong>
                        </div>
                        <div class="col-md-8">
                            <span class="next"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#cardDetails').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this);

                modal.find('.holder').text(button.data('holder'));
                modal.find('.card').text(button.data('card'));
                modal.find('.code').text(button.data('code'));
                modal.find('.expiration').text(button.data('expiration'));
                modal.find('.scheduled').text((button.data('scheduled') == 1 ? 'No' : 'Yes'));
                modal.find('.start').text(button.data('start'));
                modal.find('.end').text(button.data('end'));
                modal.find('.interval').text(button.data('interval'));
                modal.find('.next').text(button.data('next'));
            })
        });
    </script>

{% endblock %}